.layout-container {
  display: grid;
  grid-template-areas:
    "header header header header" "nav main main bar" "nav main main bar" "nav main main bar"
    "footer footer footer footer";
  /* grid-template-rows: 70px 350px 70px; */
  gap: 5px 3px;
  color: white;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

header,
footer {
  background-color: rgb(32, 129, 255);
}

nav {
  background-color: rgb(201, 130, 0);
}

nav .sidenav {
  grid-area: nav;
}

nav .sidebar {
  grid-area: bar;
}

main {
  background-color: greenyellow;
  grid-area: main;
}

header,
footer,
nav,
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
