// colors
$primary: rgb(41, 41, 41);
$secondary: rgb(49, 49, 255);

// fonts

// $fonts: (
//   0: 0px,
//   1: 2px,
//   2: 4px,
//   3: 6px,
//   4: 8px,
//   5: 10px,
//   6: 12px,
//   7: 14px,
//   8: 16px,
//   9: 18px,
//   10: 20px,
// );

$fonts: 0px, 2px, 4px, 6px, 8px, 10px, 12px, 14px, 16px, 18px, 20px;
